# 🔐 Environment variables
.env

# 🐍 Python cache
__pycache__/
*.pyc

# 🗄️ Ignore DB dumps but keep schema
*.sql
!schema.sql

# 🧪 Virtual env
venv/
.env/

# 🧾 System files
.DS_Store
Thumbs.db

# 📝 VS Code
.vscode/
