<!DOCTYPE html>
<html>
<head>
    <title>Add Study Log</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>

<body class="add-log">
    <div class="stars"></div>
<div class="container">

    <h2>🚀 Add Study Log</h2>

    <div class="card">
        <form method="POST">

            <label>Hours Studied:</label><br>
            <input type="number" step="0.5" name="hours" required>
            <br><br>

            <label>What did you learn?</label><br>
            <textarea name="notes" placeholder="Write something..."></textarea>
            <br><br>

            <label>
                <input type="checkbox" name="completed"> ✅ Mark Completed
            </label>
            <br><br>

            <button type="submit">Save Log</button>
        </form>
    </div>

    <br>

    <div class="card">
        <a href="/">⬅ Back</a>
    </div>

</div>
</body>
</html>