<!DOCTYPE html>
<html>
<head>
    <title>Student Tracker</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>

<body class="home">
    <div class="stars"></div>
<div class="container">

    <h1>🌌 My Subjects</h1>

    <!-- Add Subject Button -->
    <div class="card">
        <a href="/add_subject">➕ Add Subject</a>
    </div>

    <br>

    <!-- Subject Cards -->
    {% for subject in subjects %}
        <div class="card">
            <h3>{{ subject[1] }}</h3>

            {% if subject[2] %}
                <p>⭐ Major Subject</p>
            {% endif %}

            <a href="/add_log/{{ subject[0] }}">📖 Add Log</a> |
            <a href="/add_goal/{{ subject[0] }}">🎯 Set Goal</a>
        </div>
    {% endfor %}

    <br>

    <!-- Graph Button -->
    <div class="card">
        <a href="/graph">📊 View Study Graph</a>
    </div>

</div>
</body>
</html>